body {
	font-family: Roboto;
	margin: 0px;
	background-color: #F2F1EF;
}

#logo {
	border: solid 1px black;
	max-width: 100%;
	height: auto;
}
#services_table {
	display: flex;
	justify-content:space-between;
}

#service {
	margin: 2%;
	border: solid 2px black;
	float: left;
	display: inline-block;
	width: 40%;
	padding: 20px;
	background-color: white;
}

#banner {
	height: 80px;
	background-color: #ecf0f1;
	border-bottom-color: #B8000A;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#user {
	padding-top: 13px;
	width: 50%;
	text-align: center;
	/* Set the margin-left and margin-right automatically set */
	margin: 0 auto;
}

#user_img {
	color: #ABB7B7;
	vertical-align:middle;
	display: inline-block;
	padding-right: 7px;
}

#user_name {
	color: #ABB7B7;
	text-align: center;
	font-size: 25;
	display: inline-block;
}

.clicked {
	color: green;
}