<html>
    <head>
        <script src="popup.js"></script>
        <link rel="stylesheet" href="style.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="container" href="https://netflix.com">
        <p id="popup_title"> Services available to you </p>
        <img id="button" src="netflix_compact_logo.png" alt="Netflix Logo">
        <p> Hosted by: <span id="host"></span></p>
        <!-- <button id='click-me'>Click Me!</button> -->
      <div>
    </body>
</html>